<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Devis et Facturation</title>
    <%- include('partials/font') %>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
<%- include('partials/sidebar') %>
<div class="content">
    <div class="text-container">
        <h1>Devis</h1>
        <a href="/devis/new_devis" class="new-button">
            <img src="/images/plus.svg" alt="nouveau">
            Nouveau
        </a>
    </div>
    <div class="devis-info">
            <h5>Numero Devis</h5>
            <h5> Client</h5>
            <h5> Cree Le</h5>
            <h5>Total TTC</h5>
    </div>
    <div class="content-container">
        <% devis.forEach(item => { %>
            <%
                const date_devis = new Date(item.date_devis);
                const formatdate = date_devis.toLocaleDateString('en-GB');
                const formatted_id = `D-${String(item.id_devis).padStart(4,'0')}`;
            %>
        <div class="devis-unit">
                <h5><%= formatted_id %></h5>
                <h5><%= item.nom_client %></h5>
                <h5><%= formatdate %></h5>
                <h5><%= item.total_ttc %></h5>
                <div class="buttons-container">
                <button><img src="/images/view.svg" alt=""></button>
                <button><img src="/images/edit.svg" alt=""></button>
                <button><img src="/images/delete_forever.svg" alt=""></button>
                </div>
        </div>
        <% }) %>
    </div>
</div>
</body>
<script src="/assets/index.js"></script>
</html>