<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Devis et Facturation</title>
    <%- include('partials/font') %>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
<%- include('partials/sidebar') %>
<div class="content">
    <div class="text-container">
        <h1>Factures</h1>
        <a href="/factures/new_factures" class="new-button">
            <img src="/images/plus.svg" alt="nouveau">
            Nouveau
        </a>
    </div>
    <div class="devis-info">
        <h5>Numero Facture</h5>
        <h5> Client</h5>
        <h5> Cree Le</h5>
        <h5>Total TTC</h5>
        <h5>Status</h5>

    </div>
    <div class="content-container">
        <% facture.forEach(item => { %>
        <%
            const date_facture = new Date(item.date_facture);
            const formatdate = date_facture.toLocaleDateString('en-GB');
            const formatted_id = `F-${String(item.id_facture).padStart(4,'0')}`;
        %>
            <div class="devis-unit" data-id="<%= item.id_facture %>">
                <h5><%= formatted_id %></h5>
                <h5><%= item.nom_client %></h5>
                <h5><%= formatdate %></h5>
                <h5><%= item.total_ttc %></h5>
                <h5 class="status_text" style="<%= item.status === "non payé" ? "background-color:red" : item.status === "payé" ? "background-color:green" : "background-color:grey"%>" ><%= item.status %></h5>
                <div class="buttons-container">
                    <button><img src="/images/view.svg" alt=""></button>
                    <button><img src="/images/edit.svg" alt="" data-id="<%= item.id_facture %>"></button>
                    <button class="deletex" data-id="<%= item.id_facture %>" ><img src="/images/delete_forever.svg" alt=""></button>
                </div>
            </div>
        <%})%>
    </div>
</div>
<div class="someothershi">

</div>
</body>
<script src="/assets/facture.js"></script>
</html>